.results-container {
    margin-top: 30px;
    border-style: solid;
    border-bottom-width: medium;
    border-bottom-color: rgb(87, 87, 87);
}

.populated-results {
    margin-top: 30px;
    border-style: solid;
    border-bottom-width: medium;
    border-bottom-color: rgb(87, 87, 87);
}

.book-description {
    margin-right: 80px;
}