.saved-books-container {
    margin-top: 30px;
    border-style: solid;
    border-bottom-width: medium;
    border-bottom-color: rgb(87, 87, 87);
}

button {
    font-size: 120%;
    float: right;
    margin: 20px;
}

.data {
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: black;
    text-decoration: none;
}

.saved-books-results {
    margin-top: 30px;
    border-style: solid;
    border-bottom-width: medium;
    border-bottom-color: rgb(87, 87, 87);
}

h2 {
    padding-top: 10px;
}